<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Vue</title>
  <style>
    [v-cloak] {
      display: none;
    }
  </style>
</head>
<body>
  <div id="app" v-cloak>
   <!-- 不需要表达式的指令 -->
   <!-- v-cloak 解决初始化慢导致页面闪动。 -->
   <!-- v-once 定义它的元素或组件只渲染一次，包括元素或组件的所有子节点 -->
   <span v-once>{{message}}</span>
   <div v-once>
     <span>{{message}}</span>
   </div>
   <!-- 条件渲染指令 -->
   <!-- v-if 才是真正的条件渲染，他会根据表达式适当的销毁或重建元素及绑定的时间或子组件。 -->
   <!-- v-show 是简单的css切换 -->
   <!-- v-if更适合条件不经常改变的场景，因为它切换开销相对较大，而v-show适用于频繁切换的条件 -->
   <p v-if="status === 1">当status为1时显示该行</p>
   <p v-else-if="status===2">当status为2时显示该行</p>
   <p v-else>否则显示该行</p>
   <!-- vue在渲染元素时，出于效率考虑，会尽可能的复用已有的元素而非重新渲染 -->
   <!-- 如果不希望复用，可以使用key属性，key的值必须是唯一的 -->

   
   <template v-if="type === 'name'">
     <label>用户名：</label>
     <input type="text" placeholder="请输入用户名" key="name-input">
   </template>
   <template v-else>
      <label>邮箱：</label>
      <input type="text" placeholder="输入邮箱" key="mail-input">
    </template>
    <button @click="handleToggleClick">切换输入类型</button>
  </div>
  <script src="https://unpkg.com/vue@2.5.16/dist/vue.js"></script>
  <script>
    var app = new Vue({
      el:'#app',
      data:{
        message:'这是一段文本a',
        status:1,
        type:'name'
      },
      methods: {
        handleToggleClick : function () {
          this.type = this.type === 'name'?'mail':'name';
        }
      }
    })
  </script>
</body>
</html>